@charset "UTF-8";

.myFont{
	
	font-size: 20px;
	font-family: Monaco;
}


 h1{
	
	color: red;
} 

.myButton{
	
	color: white;
	background-color: green;
	border: 2px solid black;
	font-size: 24px;
	padding: 10px 10px 10px 10px;
	transition-duration: 0.5s;
	
}

.myButton:hover{
	
	background-color: yellow;
	color: black;
}